<h2> Thank you for updating your deatils , <%= @driver.name%> </h2>

<%= image_tag 'https://image.cnbcfm.com/api/v1/image/105427259-1535730447635gettyimages-810877128.jpeg?v=1535730503&w=1920&h=1080',size:"800x400"%>

<h2> Your Updated Deatils is </h2>
<h4> Car : <%= @driver.car %> </h4>
<h4> Car Color : <%= @driver.color %> </h4>
<h4> Car Number : <%= @driver.cnum %> </h4>