<h2>Car Owner Details </h2>
<div style="font-size:20px">
<b>Name : </b><%= @driver.name %><br>
<b>Email : </b><%= @driver.email %><br>
<b>Age : </b><%= @driver.age %><br>
<b>Gender : </b><%= @driver.gender %><br>
<b>Married Status : </b><%= @driver.marry %><br>
<b>Car : </b><%= @driver.car %><br>
<b>Car Number : </b><%= @driver.cnum %><br>
<b>Car Color : </b><%= @driver.color %><br><br>
</div>
<%= link_to "View All Car Owners",root_path , class:"btn btn-primary" %>
